# environment for python
.idea
/venv

# folder
/dataSet
/ViewResult

# folder of Joanne
/voxel_result
/achieved
/BINVOX/DATA/
binvox_rw.pyc

# folder of Adam
/tmpSaving
/result

*.pkl
/out*

/INPUT*
/OUTPUT

/TEST*
/View*

__pycache__

/tmp